<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--add name="MYSQLConnection" connectionString="Data Source=.\MYSQLExpress;Initial Catalog=SCLdb;Integrated Security=True" providerName="System.Data.SqlClient" /-->
    <!--add name="MYSQLConnection" providerName="System.Data.EntityClient" 
       connectionString="metadata=res://*/SCLdb.csdl|res://*/SCLdb.ssdl|res://*/SCLdb.msl;
       provider=System.Data.SqlClient;
       provider сonnection string='';
       data source=DESKTOP-UD5O42O\MYSQLEXPRESS;
       initial catalog=SCLdb;integrated security=True;
       MultipleActiveResultSets=True;App=EntityFramework" / HOME= DESKTOP-OUU1SU9___   .\YSQLEXPRESS \\ Work= .\DESKTOP-46V08EN-->
    <!--/*для дата ферст.*/add name="MYSQLConnection" 
    connectionString="metadata=res://*/MyCustomers.csdl|res://*/MyCustomers.ssdl|res://*/MyCustomers.msl;provider=System.Data.SqlClient;
    provider connection string=&quot;data source=DESKTOP-UD5O42O\MYSQLEXPRESS;initial catalog=SCLdb;
    integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="MYSQLConnection" connectionString="data source=DESKTOP-46V08EN;
       initial catalog=SCLdb;
       integrated security=True;MultipleActiveResultSets=True;
       App=EntityFramework" providerName="System.Data.SqlClient" />
        
    <!--for site somee.com, I have registration and base to this service, but did not using Tables from it, because the did not created. -->
    <!--add name ="MYSQLConnection" connectionString="
         user id=petrov;pwd=deF32653;
         data source=SCLdatabase.mssql.somee.com;
         persist security info=False;
         initial catalog=SCLdatabase;" 
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>